.git
.gitignore
.gitmodules
.dockerignore
Dockerfile
README.md
doc
prerequisite

*.log
*.swo
*.swd
*.swp
*/**/*.o

bench_**
output/*
logdir/*
evaluation/*
test/output/*

!*.gitignore

Makefile
CMakeCache.txt
*.cmake
CMakeFiles
install_manifest.txt
build
