*.log
*.log*
*.swo
*.swd
*.swp
*.cmd
*.cmd*
*/**/*.o

bench_**
output/*
logdir/*
evaluation/*
test/output/*
test/*.def
test/*.dat
test/**/*.dat
test/**/output
test/**/exp

!*.gitignore

Makefile
CMakeCache.txt
*.cmake
CMakeFiles
install_manifest.txt
build
